.back_2_top {
    text-align: right;
    max-width: 1200px;
    margin: 20px auto;
}

.about_head {
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: flex-start;
    margin-bottom: 64px;
}

.about__avatar_container {
    width: 30%;
    background-image: url(../images/avatar_d.jpg);
    filter: drop-shadow(10px 10px 6px rgba(0, 0, 0, 0.5));
    background-size: contain;
    /* 画像全体を収める */
    background-repeat: no-repeat;
    background-position: center;
}

.about__avatar {
    width: 100%;
    height: auto;
}

.about__avatar:hover {
    opacity: 0;
}

.about__profile {
    width: 65%;
}

.section_skill {
    margin-bottom: 64px;
}

/* スマホ向け（幅768px以下） */
@media screen and (max-width: 768px) {
    .about {
        flex-direction: column;
    }
}