.about_head {
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: flex-start;
    margin-bottom: 64px;
}

.about__avatar {
    width: 30%;
    height: auto;
}

.about__profile {
    width: 65%;
}

.section_skill {
    margin-bottom: 64px;
}

.section_skill dl {
    font-size: 1.5rem;
}

.section_skill dt {
    margin-top: 20px;
    margin-bottom: 8px;
}

.section_skill dd {
    padding-left: 2rem;
}

/* スマホ向け（幅768px以下） */
@media screen and (max-width: 768px) {
    .about_head {
        flex-direction: column-reverse;
        gap: 16px;
    }

    .about__profile {
        width: 100%;
    }

    .about__avatar {
        width: 100%;
    }

    .section_skill dl {
        font-size: 1rem;
    }

    .section_skill dt {
        margin-top: 12px;
        margin-bottom: 8px;
    }
}